* {
  margin: 0;
  padding: 0;
}

p,
h1 {
  margin-bottom: 0 !important;
}

.reg-form {
  width: 500px;
  background-color: rgb(210, 220, 227);
  padding: 20px;
  border-radius: 10px;
  margin: 30px auto;
}

.layout {
  display: flex;
  height: 100vh;
}
.content {
  width: 100%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.feed-pfp {
  border-radius: 50%;
  width: 50px;
  display: flex;
}
